<%- include("header")-%>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    
    <div class="box">
    <% for(var i =0; i< newlistitems.length ; i++) { %>
        <div class="item">
            <input type="checkbox" name="" id="">
            <p><%= newlistitems[i] %></>
        </div>
        
       <%}%>
    
    <form action="/" method="post" class="item">

        <input  type="text" name="new_item" placeholder="New Item" autocomplete="off" autofocus>
        <button type="submit" name="list" value= <%= listTitle %> >+</button>


    </form>
    </div>
    
    <%- include("footer")-%>



        


